.item-box {
	padding: .72rem 1.4rem;
	background-color: #fff;
	max-width: 14.4rem;
	margin: 0 auto;
}
.item-box li {
    padding: .16rem 0 .32rem;
    border-bottom: .01rem solid rgba(0,0,0,0.1);
}
.item-box li:last-child {
    border-color: transparent;
}
.item-box li h5 {
    line-height: .27rem;
	color: rgba(0,0,0,0.85);
	font-size: .22rem;
	font-family: Avenir-Medium;
	font-weight: 500;
}
.item-box li h6 {
    margin-top: .08rem;
    line-height: .21rem;
	color: #2157A8;
	font-size: .17rem;
	font-family: Avenir-Medium;
	font-weight: 500;
    margin-bottom: .12rem;
}
.item-box li .img-box {
    width: 3.6rem;
    margin-right: .24rem;
    float: left;
}
.item-box li .img-box img {
    width: 100%;
    margin: 0 auto;
    display: block;
}
.item-box li p {
    width: calc(100% - 3.84rem);
    line-height: .3rem;
	color: rgba(0,0,0,0.45);
	font-size: .18rem;
	font-family: Avenir-Roman;
    float: right;
}