.item-box {
	background-color: #fff;
}
.main-box li {
	background-color: #f5f5f5;
}
.main-box li:nth-child(2n) {
	background-color: #fff;
}
.itemContent-box {
	padding: .72rem 1.4rem;
	max-width: 14.4rem;
	margin: 0 auto;
}
.itemContent-box .article-container h5 {
	line-height: .41rem;
	color: #0C3375;
	font-size: .3rem;
	font-family: Avenir-Medium;
	font-weight: 500;
}
.itemContent-box .article-container p {
	line-height: .3rem;
	font-size: .22rem;
	color: rgba(0,0,0,0.65);
	margin-top: .26rem;
	font-family: Avenir-Roman;
}
.itemContent-box .img-box {
    width: 4.6rem;
    margin-right: .4rem;
    float: left;
}
.itemContent-box .img-box img {
    width: 100%;
    margin: 0 auto;
    display: block;
}
.itemContent-box .article-container {
    width: 100%;
}
.firstItem-box .article-container h5,
.firstItem-box .article-container p {
    text-align: center;
}
.firstItem-box .article-container .img-box {
    width: 100%;
    margin-left: 0;
	margin-top: .5rem;
}
.firstItem-box .article-container .img-box img {
	width: 7.2rem;
    margin: 0 auto;
	display: block;
}